th{
    color: #fff;
}

#registrer{
    margin-top: 50px;
}

.title{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w3-input{
    position: absolute;
    margin-top: 25px;
    left:0px;
    width: 330px;
}

.text{
    position: relative;
    margin-bottom: 20px;
}